/* home page styling */
h1{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-size: 3rem;
    text-shadow: 3px 4px 10px black;
 }

 body{
    font-family: 'Roboto', sans-serif;
    color: rgb(243, 237, 237);
    font-size: 1.5rem;
    text-align: center;
 }

 .homeContent{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .mybtnHome{
     border: none;
     color:black;
     border-radius: 10px;
     background-color: white;
     padding: 50%;
     margin-top: 70%;
     font-size: 1rem;
     
}

.mybtnHome:hover {
    background-color: #4CAF50; 
    color: white;
}
.mybtnHome:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.inputHome{
    border: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 1.2rem;
    padding: 10px 14px;
    margin-bottom: 2%;
 }
 
 .background{
    background:rgba(0, 0, 0, 0.6);
    top: 0%;
    left:0%;
    right: 0%;
    bottom: 0%;
    z-index: 5;
    position: absolute;
}

/* end home page*/
/* start modal*/
.modal {

    top: 10%;
    left:10%;
    margin: 0 auto;
    z-index: 10;
    border: 1px solid black;
    position: fixed;
    background-color: white;
}
.content {
    z-index: 0;
    position: relative;
}
/* end modal */
/* start game page */
.tracker {
    z-index: 0;
    position: relative;
}

/* start loading image */
.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    top: 0%;
    left:0%;
    right: 0%;
    bottom: 0%;
    z-index: 5;
    position: absolute;
}

.loadingImage{
    
    margin: 0 auto;
    position: absolute;
}
/* start setting page */
.settingsContent{
display: flex;
flex-direction: column;
    
}

.difficultyButton{
    width: 70%;
    padding-top: 40px;
    background-color: white;
    height: 200 px;
    border-radius: 5px;
    color:  rgb(168, 72, 72);
    font-family:  'Shrikhand', cursive ; 
    font-size: 30px; 
    align-content: center;  
}

.difficultyButton:hover{
    background-color:rgb(168, 72, 72); 
    color:white;       
}


.difficultyButton:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* end settings page */
/* Game Page */
.fas {
    width: 10vw;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: orange;
    }
}

@media only screen and (max-width: 992px) {
    body {
        background-color: rgb(168, 72, 72);
    }
}
