h1{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-size: 3rem;
 }


 body{
    font-family: 'Roboto', sans-serif;
    color: rgb(243, 237, 237);
    font-size: 1.5rem;
    text-align: center;
 }

 .homeContent{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .mybtnHome{
     border: none;
     color:black;
     border-radius: 10px;
     background-color: white;
     padding: 30%;
     margin-top: 70%;
     font-size: 1rem;
}

 inputHome{
     border-radius: 10px;
     display: inline-block;
     padding: 4%;
     font-size: 1.2rem;
     margin-bottom: 2%;
 }
 
 .background{
    background:rgba(0, 0, 0, 0.6);
    top: 0%;
    left:0%;
    right: 0%;
    bottom: 0%;
    z-index: 5;
    position: absolute;
}
.modal {
    top: 10%;
    left:10%;
    margin: 0 auto;
    z-index: 10;
    border: 1px solid black;
    position: fixed;
    background-color: white;
}
.content {
    z-index: 0;
    position: relative;
}

.tracker {
    z-index: 0;
    position: relative;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    top: 0%;
    left:0%;
    right: 0%;
    bottom: 0%;
    z-index: 5;
    position: absolute;
}

.loadingImage{
    
    margin: 0 auto;
    position: absolute;
}
.settingsContent{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: orange;
    }
}

@media only screen and (max-width: 992px) {
    body {
        background-color: rgb(168, 72, 72);
    }
}
